body{
    color: #14243a;
}
.inputs {
    padding: 2px 5px;
    margin: 15px 25px;
}

.row {
    padding: 15px 0;
    text-align: center;
    margin-bottom: 1px;
    border-radius: 8px;
    border: solid #06277f 2px;
    background-color: #e6f0f0;
}

#curve_chart {
    display: none;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 1px;
    border-radius: 10px;
    border: solid #06277f 3px;
}

table {
    margin-top: 30px;
}

.result {
    color: #182767;
    font-size: 20px;
    margin: 5px 0 0 20px;
    padding: 3px 10px;
    border-radius: 8px;
    border: #174983 solid 2px;
    background-color: #edfffc;
}

.load{
    z-index: 10000;
    width: 100%;
    height: 500px;
    text-align: center;
    position: relative;
}

#loading {
    height: 150px;
    display: none;
    margin: 80px auto;
    position: relative;
}
